aiofiles
aiohttp[speedups]
asyncio
asyncpg==0.27.0
google-api-python-client==2.41.0
holidays
jellyfish
openpyxl==3.0.10
pandas
pillow
pip
py-cord==2.3.2
pytz
git+https://github.com/googledrive/PyDrive.git#egg=PyDrive
