aiofiles
aiohttp[speedups]
asyncio
asyncpg==0.25.0
google-api-python-client==2.41.0
holidays
jellyfish
openpyxl==3.0.9
pandas
pillow
pip
psycopg2==2.9.3
py-cord==2.2.2
pytz
git+https://github.com/googledrive/PyDrive.git#egg=PyDrive
